{% extends 'basicPage.html.twig' %}

{% block title %}ABOUT{% endblock %}

{% block page_header %}

        {{ parent() }}
        <h1>QUI SOMMES NOUS ?</h1>

{% endblock %}

{% block page_main %}

        
<div>
        {{"Fondé en 2024, Karukéra Beach Volley est une association créée par des femmes et pour les femmes.
    
    L'association est spécialisé dans le développement du beach volley dans sa forme olympique (2 contre 2) et propose un choix complet de formules avec un large programme ouvert à toutes.

    Notre club a une vraie culture associative et sportive, et une identité qui lui est propre :
    
                un Conseil d’Administration paritaire composé de 4 personnes ultra-motivées et hyper-actives, accompagné d’un staff engagé
    
                du jeu libre, des entraînements, des stages, des tournois...
    
                des activités extra-volley pour rester en santé tout en découvrant notre belle île.
    
                des partenaires qui soutiennent nos actions"|nl2br}}
    
        
</div>

<div id="autreTrait"></div>

<h3> COHESION AUTOUR D'UNE MEME PASSION  </h3>

<p>En compétition ou en rencontre amicale, la bienveillance et la sportivité sont à l'honneur </p>

        <img src="{{ asset('/media/seriesStMartinWeb.jpg') }}" alt="decathlon" width="350" height="300">
        <img src="{{ asset('/media/beachNightWeb.jpg') }}" alt="B5" width="350" height="300">
        <img src="{{ asset('/media/SeriesWeb.jpg') }}" alt="B5" width="350" height="300">
        
        



<div id="autreTrait"></div>
<h3> UNE ASSOCIATION </h3>

<div> {{"Karukéra Beach Volley est une association Loi 1901 ayant pour but la pratique, le développement et la promotion du beach-volley et le sport Santé sur sable.

Nous sommes une association à but non lucratif au seing de laquelle nous essayons de trouver un équilibre en tous nos adhérents : sportifs compétiteurs et sportifs loisirs.

Pour cela, nous proposons différents types d’évènements et activités afin de répondre aux besoins et envies de nos adhérents en leur proposant une offre la plus complète possible : nous organisons des tournois fédéraux mais aussi des tournois loisirs ouverts et accessibles à tous. Ces évènements favorisent une pratique ludique du sport ainsi que l’échange et le partage entre les adhérents.

Le fonctionnement de l’association repose sur l’activité bénévole de ses adhérents : tout le monde peut participer et apporter sa pierre à l’édifice. Nous avons à coeur de permettre à chacun de trouver sa place et de prendre part à la vie de l’association de la façon dont il l’entend : gestion de créneaux ou de la buvette, projet particulier, encadrement des entraînements avec la mise en place d’adjoints des différents entraîneurs, conseil d’administration et bureau pour les plus impliqués.

Chaque année, est tenue un Assemblée Générale à laquelle tous les adhérents de l’association sont convoqués. Cette AG permet au conseil d’administration de faire un bilan d’activité, financier et sportif de la saison, bilan soumis aux votes des adhérents. Ces derniers profitent aussi de ces réunions pour s’informer sur les projets en cours et poser des questions si nécessaire. Au-delà du côté purement administratif, ces temps sont aussi des temps d’échange et de partage entre les adhérents profitant de l’occasion pour passer des moments conviviaux et sociaux, moments incontournables de la vie associative Karukéra Beach Volley."|nl2br}}


</div>

{% endblock %}










