{% extends 'basicPage.html.twig' %}

{% block title %}Karukera Beach volley Guadeloupe{% endblock %}

{% block page_header %}
    {% include "_partials/menu.html.twig" %}
    <div id="imagePrincipale">
        {% if app.user %}
            <button class="btn-connecter" onclick="window.location.href='{{ path('app_logout') }}';">Se déconnecter
            </button>
        {% else %}
            <button class="btn-connecter" onclick="window.location.href='{{ path('app_login') }}';">Se connecter
            </button>
        {% endif %}
        {% include "_partials/flash.html.twig" %}
        <h1 class="titleHome">
            <div>KARUKERA</div>
            <div>BEACH VOLLEY</div>
        </h1>
        <div id="premierTrait"></div>
        <h3>LE BEACH VOLLEY AU FEMININ</h3>
    </div>
{% endblock %}


{% block page_main %}
    <h3 class="laUne">À LA UNE !</h3>
    <div class="containerUne">
        <img src="{{ asset('build/images/frontCardWeb.jpg') }}" alt="affiche beach volley">

    </div>
    <p>" Le Championnat BEACH-VOLLEY 2024/2025 est toujours en cours ! "</p>
    <p> Ci-dessous le lien pour vous inscrire à l'association 🖣 </p>


    <button class="buttonInsc" type="button" onclick="window.location.href='{{ path('app_inscription') }}';">INSCRIPTION
        A L'ASSOCIATION
    </button>

    <div id="autreTrait"></div>

    <h3>NOS ACTIVITÉS</h3>
    <div class="imgActivites">
        <img src="{{ asset('build/images/sweWeb.jpg') }}" alt="Swe" width="360" height="360">
        <img src="{{ asset('build/images/sessionTrainingWeb.jpg') }}" alt="training" width="360" height="360">
        <img src="{{ asset('build/images/receptionWeb.jpg') }}" alt="competition" width="360" height="360">
        <img src="{{ asset('build/images/fitnessWeb.jpg') }}" alt="fitness" width="360" height="360">
    </div>
    <div class="buttActivites">
        <button class="homeActivites" type="button">JEU LIBRE</button>
        <button class="homeActivites" type="button">ENTRAÎNEMENTS</button>
        <button class="homeActivites" type="button">COMPETITIONS</button>
        <button class="homeActivites" type="button">SPORT SANTÉ</button>
    </div>
   
    <div><button class="reservationSession" type="button" onclick="window.location.href='{{ path('app_reservation') }}';">RÉSERVER UNE ACTIVITÉ </button></div>
    <div id="autreTrait"></div>

    <h3>ACTUALITÉS</h3>

    <p>" Toutes les activités auxquelles nous avons participés cette saison "</p>
    <p>ACTIVITÉS A VENIR !</p>
    <div class="soon">
        <ul>
            <li>Tournoi de la Ligue du 09 Mars 2024</li>
            <li>Tournoi Karukera Beach Volley du 07 Juillet 2024</li>
        </ul>
    </div>

     <img src="{{ asset('build/images/0903Web.jpg') }}" alt="B5" width="500" height="800" style="padding-top: 20px;">

    <div id="autreTrait"></div>

    <h3>NOS PARTENAIRES</h3>

    <div class="partenaires">
        <img src="{{ asset('build/images/FFVBweb.jpg') }}" alt="ffvb" width="150" height="150">
        <img src="{{ asset('build/images/NatiyeWeb.jpg') }}" alt="natiye" width="150" height="150">
        <img src="{{ asset('build/images/LRVBweb.jpg') }}" alt="lrvb" width="150" height="150">

        <img src="{{ asset('build/images/DecathlonNewWeb.jpg') }}" alt="decathlon" width="150" height="150">
        <img src="{{ asset('build/images/B5web.jpg') }}" alt="B5" width="150" height="150">
{#        <img src="/publicbuild/images/DecathlonNewWeb.jpg>#}
    </div>

{% endblock %}
